---
default:
  interruptible: true

stages:
  - install
  - build
  - test
  - publish
  - docs
  - post

variables:
  NODE_VERSION: 22-alpine
  NODE_PACKAGE_MANAGER: pnpm
  NODE_INSTALL_ARGS: --ignore-scripts
  NODE_LINT_COMMAND: lint
  NODE_TEST_COMMAND: test
  GITHUB_STATUS_PROJECT: listr2/listr2
  SKIP_SIMPLE_GIT_HOOKS: '1'

include:
  - project: devops/pipelines
    ref: node@1.2.0
    file:
      - /node/install.gitlab-ci.yml
      - /node/lint.gitlab-ci.yml
      - /node/test.gitlab-ci.yml
      - /node/run.gitlab-ci.yml

  - project: devops/pipelines
    ref: semantic-release@1.6.0
    file:
      - /semantic-release/publish.gitlab-ci.yml

  - project: devops/pipelines
    ref: buildah@1.2.0
    file:
      - /buildah/build.gitlab-ci.yml
      - /buildah/registry-gitlab.gitlab-ci.yml

  - project: devops/pipelines
    ref: references@1.2.2
    file:
      - /references/gh-status.gitlab-ci.yml

install:
  stage: install
  extends: .node-install

lint:
  stage: build
  extends: .node-lint

test:
  stage: test
  extends: .node-test
  parallel:
    matrix:
      - NODE_VERSION: 24-alpine
      - NODE_VERSION: 22-alpine

semantic-release:
  stage: publish
  extends: .semantic-release
  variables:
    SEMANTIC_RELEASE_WORKSPACE: 'true'
  needs:
    - build
    - lint
    - test
  dependencies:
    - build

build-docs:
  stage: docs
  extends: .node-run
  before_script:
    - apk update
    - apk add git
  variables:
    NODE_COMMAND_SCRIPT: docs:build
    NODE_COMMAND_CWD: ./docs
  artifacts:
    paths:
      - ./docs/dist
  needs:
    - install
    - build
    - semantic-release
  dependencies:
    - install
    - build
    - semantic-release
  only:
    refs:
      - master
      - next
      - next-major
      - alpha
      - beta
      - rc

container-docs:
  stage: post
  extends: .container-build
  variables:
    CONTAINER_FILE_NAME: Dockerfile
    CONTAINER_FILE_CONTEXT: ./docs
    CONTAINER_IMAGE_NAME: docs-listr2
    CONTAINER_IMAGE_TAGS: latest
  needs:
    - build-docs
  dependencies:
    - build-docs
  only:
    refs:
      - master
      - next
      - next-major
      - alpha
      - beta
      - rc
