demo/
example.ts
src
CHANGELOG.md
license
tsconfig*.json
.eslintrc
.drone.yml
TODO.md
.vscode/
.github/
release.config.js
CHANGELOG.md
examples/
.prettierrc*

# badges
.badges/

# coverage
coverage/
tests/

# semantic-version
.releaserc*

# Source Code
.gitlab-ci.yml
.drone.yml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# Node Package Manager
.npm
.npmrc

# eslint
.eslintrc*

# Logs
logs
*.log
*-debug.log*
*-error.log*
/.nyc_output

# yarn
yarn.lock

# tsbuild
tsconfig*.tsbuildinfo
