// you can change config here
$colors: #e06c75, #d19a66, #e5c07b, #27ae60, #56b6c2, #61afef, #c678dd, #22282f, #7f8c8d !default;

$color-transition: 0s;
$transform-transition: 0s;

$sidebar-mobile-width: 100%;

$pc: 1920px;
$laptop: 1440px;
$pad: 959px;
$tablet: 959px;
$mobile: 959px;
