// place your custom styles here
.navbar .nav-links a {
  font-weight: 600 !important;
  font-size: 1rem;
}

.navbar .site-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.sidebar-heading .title {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--dark-grey);
}
