// you can change colors here
$theme-color: #cd0043;

$bg-color: (
  light: #ffffff,
  dark: #17191e
);

$text-color: (
  light: #121216,
  dark: #dfdfdf
);

// content
$content-width: 1024px;
$home-page-width: 1280px;
