---
name: semantic-release
on:
  pull_request:
    branches:
      - master
      - main
      - next
      - next-major
      - alpha
      - beta
      - rc
  workflow_dispatch:

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Semantic Release Dry Run
        uses: cycjimmy/semantic-release-action@v4
        with:
          dry_run: true
          ci: false
          branches: |
            [
              'master',
              {'name': 'refs/pull/+([0-9])/merge', 'prerelease': true}
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
